html {
  background-color: beige;
}

header {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
}

ul {
  font-family: sans-serif;
  list-style: none;
  text-align: center;
}

li {
  padding: 10px;
  text-decoration: none;
}

ul li a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

a:hover {
  background-color: rgb(128, 128, 128);
}
